<div class="container" style="margin-top: 15px">
    <h2>To do list</h2>
    <table class="table table-hover table-striped table-bordered col-md-8 offset-2 mat-elevation-z8" mat-table matSort id="table1" >
        <thead class="thead-light">
                <tr class="tasks">
                    <th (click)="sortTable(0)">Title </th>
                    <th (click)="sortTable(1)">Closed date</th>
                    <th (click)="sortTable(2)">Status</th>
                </tr>
        </thead>

        <tbody>
            <tr *ngFor="let task of tasks; let i = index" class="tasks" (click)="open(content, task)">
                <td>{{ task.title }}</td>
                <td>{{ task.closedDate | date: 'yyyy/MM/dd'}}</td>
                <td *ngIf="task.closedStatus; else doing">Completed</td>
                <ng-template #doing><td *ngIf="task.time_out; else not_time_out">Time out</td></ng-template>
                <ng-template #not_time_out><td>Doing</td></ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detail Item</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <table class="table table-borderless" id="popup">
              <tbody>
                <tr>
                  <th scope="row">Title</th>
                  <td class="title">{{selectedTask.title}}</td>
                </tr>
                <tr>
                  <th scope="row">Memories</th>
                  <td class="memories">{{selectedTask.memo}}</td>
                </tr>
                <tr>
                  <th scope="row">Close Date</th>
                  <td class="closed_date">{{selectedTask.closedDate}}</td> 
                </tr>
                <tr *ngIf = "!selectedTask.closedStatus && !selectedTask.time_out">
                    <th scope="row">Close Status</th>
                    <td><input type='checkbox' [checked]="isChecked" (change)="isChecked =! isChecked"></td>
                </tr>
              </tbody>
            </table>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="changeStatus()">Save</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>